@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

button {
  padding: 0.25rem;
}

.scale-in-center {
  animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper img {
    width: 300px;
  }

  .wrapper h1 {
    font-size: 1.25rem;
  }
}
