.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.home-allleagues {
  position: fixed;
  bottom: 0;
  margin: 1rem 0;
  width: 100vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .list-table {
    width: 50vw;
  }
  td, th {
    font-size: 0.75rem;
    padding: 0;
  }
  button {
    width: fit-content;
    padding: 0.25rem;
  }
}
