.pokemon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
  border: 1px solid #333;
  border-radius: 1rem;
  padding: 4rem;
 
  input {
    margin: 0.25rem;
  }
}

.form-container h2 {
  text-align: center;
}

.form-container button {
  max-width: 100px;
}
