.wrapper {
  // background-image: url('../assets/images/welcome.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  // font-family: "Pokemon Solid", sans-serif;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

