.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper img {
    width: 300px;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }
}
